
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic+Guides&display=swap');
h1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 350;
    font-size: 80px;
    font-style: normal;
    color: blue;
}

h2 {
    text-align: center;
    font-family: "Playwrite NZ Basic Guides", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    
    background-image: url(media/bakgrunn.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    background-position: center;  
}

.bokser {
    display: flex;
    
    align-items: center;
    justify-content: space-around;

    
}

.boks1 {
    height: 300px;
    
    border: 3px black solid;
    border-radius: 20px;
    
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    transform: scale(1);
    transition: transform 1s;
    
    background-image: url(media/kalkbakgrun.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    background-position: center;     

}

.boks2 {
    height: 300px;
    
    border: 3px black solid;
    border-radius: 20px;
    
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    transform: scale(1);
    transition: transform 1s;
    
    background-image: ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    background-position: center;
}

a {
    color: inherit;
    text-decoration: none
    
    
}

.boks1:hover {
  transform: scale(1.05);
}
.boks2:hover {
  transform: scale(1.05);
}



