
h1 {
    text-align: center;

}

h2 {
    text-align: center;
}
body {
    
    background-image: url(media/bakgrunn.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    background-position: center;  
}

.bokser {
    display: flex;
    
    align-items: center;
    justify-content: space-around;

    
}

.boks {
    height: 300px;
    background-color: white;
    border: 3px black solid;
    border-radius: 20px;
    
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    transform: scale(1);
    transition: transform 1s;
    
}
a {
    color: inherit;
    text-decoration: none
    
    
}

.boks:hover {
  transform: scale(1.05);
}